:root {
  --primary: #f0a;
  --secondary: #f0f;
  --tertiary: #a0f;
  --error: #f00;
  --success: #0c0;
  --gray600: #666;
  --gray400: #444;
  --gray300: #333;
  --gray200: #222;
  --gray100: #111;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

body {
  flex-direction: column;
  min-height: 100dvh;
  background-color: black;
  color: white;
}

body,
header,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/**********************************************************************/
/******************************* HEADER *******************************/
/**********************************************************************/

header {
  background-color: #0005;
  flex-basis: 6rem;
  justify-content: space-between;
  padding-inline: 2em;
  position: sticky;
  inset: 0 0;
  backdrop-filter: blur(8px);
}

h1 {
  font-size: 3rem;
  font-weight: 200;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to top left,
    var(--primary),
    var(--secondary),
    var(--tertiary)
  );
  transition: 1s;
}

h1:hover {
  text-shadow: 0 0 20px var(--primary);
}

menu {
  display: flex;
  column-gap: 2em;
  font-size: 1.5rem;
  font-weight: 200;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

li::after {
  content: "";
  background-color: var(--primary);
  height: 0.1em;
  width: 100%;
  position: absolute;
  inset: 80% -100%;
  background-color: var(--primary);
  transition: 0.5s;
}

li:hover::after {
  inset: 80% 0;
}

li:active::after{
  background-color: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/**********************************************************************/
/******************************** MAIN ********************************/
/**********************************************************************/

main {
  background-color: #333;
  background-image: linear-gradient(45deg, var(--gray100)0% 50%, var(--gray300)50% 100%);
  flex-basis: calc(100dvh - 6rem);
  flex-grow: 1;
  flex-direction: column;
  padding: 1em;
  gap: 1em;

}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  width: 20ch;
  max-width: calc(100% - 0.5em);
}

em {
  font-style: normal;
  animation: rgb 4s infinite;
}

@keyframes rgb {
  0%,
  100% {
    color: var(--primary);
  }
  33% {
    color: var(--secondary);
  }
  66% {
    color: var(--tertiary);
  }
}
form {
  display: flex;
  flex-direction: column;
  background-color: var(--gray200);
  width: 50ch;
  max-width: 100%;
  border-radius: 0.5em;
  padding: 2em;
  font-size: 1.2rem;
  gap: 1em;

}

form * {
  font-size: inherit;
  color: inherit;
}
input {
  width: 100%;
  max-width: 100%;
  background-color: var(--gray300);
  border-radius: 0.5em;
  padding: 0.5em;
}
 input#card_name {
  text-transform: uppercase;
 } 

 input:focus {
  outline: 0.1em solid var(--tertiary);
 }

 input:focus:invalid:not(:placeholder-shown) {
  outline: 0.1em solid var(--success);
 }

 input:focus:invalid:not(:placeholder-shown) {
  outline: 0.1em solid var(--error);
 }
 input#card_number,
 input#card_date,
 input#card_code {text-align: center;
}
 

fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

fieldset > div.input{
  flex-grow: 1;
}

 fieldset > div.input:nth-child(1) {
  flex-basis: 20ch;
 }

 fieldset > div.input:nth-child(2) {
  flex-basis: 8ch;
 }

 fieldset > div.input:nth-child(3) {outline: olid var(--primary);
  flex-basis: 5ch;
 }

div.input {
  display: flex;
  flex-direction: column;
  row-gap: 0.25em;
}

button {
  width: 100%;
  background-color: var(--tertiary);
  padding: 0.5em;
  border-radius: 0.5em;
}

button:hover {
  background-color: var(--primary);
  outline: solid var(--primary);
}

button:active {
  background-color: #f0a3;
  outline: 0.1em solid var(--primary);
  transition: 0.1em; 
  

}



/**********************************************************************/
/******************************* FOOTER *******************************/
/**********************************************************************/

footer {
  background-image: linear-gradient(45deg, var(--primary), var(--secondary), var(--gray100y));
  align-items: start;
  padding: 1em;
}

h3 {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(
    to top left,
    var(--primary),
    var(--secondary),
    var(--tertiary)
  );
  text-align: left;
  width: 20ch;
  background-color: rgb(255, 255, 255);
  font-size: 5rem;
  font-weight: 200;
  color: transparent;
  background-clip: text;
}

.list-footer {
width: 30ch;

}

h4 {
  font-size: 2.5rem;
  font-weight: 400;
  width: 20ch;
  max-width: calc(100% - 0.7em);
}
ul{
  width: 20ch;
  font-weight: 200;

}